<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bush-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,2403},{712,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{712,366}}</string>
                <key>sourceSize</key>
                <string>{712,366}</string>
            </dict>
            <key>bush-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,924},{1357,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1357,498}}</string>
                <key>sourceSize</key>
                <string>{1357,498}</string>
            </dict>
            <key>cloud-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3355},{577,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{577,208}}</string>
                <key>sourceSize</key>
                <string>{577,208}</string>
            </dict>
            <key>cloud-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,3184},{334,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,303}}</string>
                <key>sourceSize</key>
                <string>{334,303}</string>
            </dict>
            <key>cloud-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1847,924},{213,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,147}}</string>
                <key>sourceSize</key>
                <string>{213,147}</string>
            </dict>
            <key>cloud-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,2767},{415,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,208}}</string>
                <key>sourceSize</key>
                <string>{415,208}</string>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2730,677}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{2730,677}}</string>
                <key>sourceSize</key>
                <string>{2730,687}</string>
            </dict>
            <key>river.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,924},{1477,664}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1477,664}}</string>
                <key>sourceSize</key>
                <string>{1477,664}</string>
            </dict>
            <key>tree-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,2283},{398,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,482}}</string>
                <key>sourceSize</key>
                <string>{398,482}</string>
            </dict>
            <key>tree-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2734},{585,619}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{585,619}}</string>
                <key>sourceSize</key>
                <string>{585,619}</string>
            </dict>
            <key>tree-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,3240},{406,669}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,669}}</string>
                <key>sourceSize</key>
                <string>{406,669}</string>
            </dict>
            <key>tree-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,2771},{467,1037}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,1037}}</string>
                <key>sourceSize</key>
                <string>{467,1037}</string>
            </dict>
            <key>tree-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,3240},{444,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,424}}</string>
                <key>sourceSize</key>
                <string>{444,424}</string>
            </dict>
            <key>tree-shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3565},{309,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,48}}</string>
                <key>sourceSize</key>
                <string>{309,48}</string>
            </dict>
            <key>water-fall.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,2},{1270,920}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1270,920}}</string>
                <key>sourceSize</key>
                <string>{1270,920}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>forest.png</string>
            <key>size</key>
            <string>{2011,3666}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:297b045db2d79c8e66ce08fe6e2e251a:1e446660ea1b0518f79db85c98797875:9bbd45b028f96d856e579760e5d92cf2$</string>
            <key>textureFileName</key>
            <string>forest.png</string>
        </dict>
    </dict>
</plist>
