<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banana.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,101},{126,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,78}}</string>
                <key>sourceSize</key>
                <string>{126,78}</string>
            </dict>
            <key>book.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,101},{109,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,168}}</string>
                <key>sourceSize</key>
                <string>{109,168}</string>
            </dict>
            <key>chair.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,463}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,463}}</string>
                <key>sourceSize</key>
                <string>{246,463}</string>
            </dict>
            <key>colored-pencils.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{338,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,97}}</string>
                <key>sourceSize</key>
                <string>{338,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>things.png</string>
            <key>size</key>
            <string>{590,467}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:217ca93b9436267b3d1e49bd9f0c363e:5981dc2094c2145d8cec6b5d02a9be5c:e80ac72a09d45da118a5b948418171f5$</string>
            <key>textureFileName</key>
            <string>things.png</string>
        </dict>
    </dict>
</plist>
