<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banana.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1161},{968,598}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{968,598}}</string>
                <key>sourceSize</key>
                <string>{968,598}</string>
            </dict>
            <key>book.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1360,2102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1360,2102}}</string>
                <key>sourceSize</key>
                <string>{1360,2102}</string>
            </dict>
            <key>chair.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,2},{610,1157}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,1157}}</string>
                <key>sourceSize</key>
                <string>{616,1157}</string>
            </dict>
            <key>colored-pencils.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2106},{338,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,97}}</string>
                <key>sourceSize</key>
                <string>{338,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>things.png</string>
            <key>size</key>
            <string>{1976,2205}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df99102251158c5521b6f12ec01f123d:415b598f3e2d74a5e908b844c54c1772:e80ac72a09d45da118a5b948418171f5$</string>
            <key>textureFileName</key>
            <string>things.png</string>
        </dict>
    </dict>
</plist>
