<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>finger-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{310,299}}</string>
                <key>offset</key>
                <string>{36,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,102},{310,299}}</string>
                <key>sourceSize</key>
                <string>{382,403}</string>
            </dict>
            <key>finger-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{380,399}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{380,399}}</string>
                <key>sourceSize</key>
                <string>{382,403}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tutorial.png</string>
            <key>size</key>
            <string>{696,403}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08331aae840e15bbb77c9fffe3c002ab:8b070650ca30c3ab462b1b5541a46731:f9d56bd4d7a6c765e5b9bd59b13e6385$</string>
            <key>textureFileName</key>
            <string>tutorial.png</string>
        </dict>
    </dict>
</plist>
