<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bear.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{422,544}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,544}}</string>
                <key>sourceSize</key>
                <string>{422,544}</string>
            </dict>
            <key>bird.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,847},{294,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,248}}</string>
                <key>sourceSize</key>
                <string>{294,248}</string>
            </dict>
            <key>cat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{331,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,297}}</string>
                <key>sourceSize</key>
                <string>{331,297}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animals.png</string>
            <key>size</key>
            <string>{426,1097}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:000b37055211803452591a24fca8d5e0:889b1258967784e9ab77d9f075762294:2792684dce71bc477b7867d41c9c55eb$</string>
            <key>textureFileName</key>
            <string>animals.png</string>
        </dict>
    </dict>
</plist>
