<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bear.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,163}}</string>
                <key>sourceSize</key>
                <string>{127,163}</string>
            </dict>
            <key>bird.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,167},{59,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,50}}</string>
                <key>sourceSize</key>
                <string>{59,50}</string>
            </dict>
            <key>cat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{66,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,59}}</string>
                <key>sourceSize</key>
                <string>{66,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animals.png</string>
            <key>size</key>
            <string>{131,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff0397d10a00916b12843e859f622513:1da6e9223dcc1a06d5617280c3268dff:2792684dce71bc477b7867d41c9c55eb$</string>
            <key>textureFileName</key>
            <string>animals.png</string>
        </dict>
    </dict>
</plist>
