<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banana.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,44},{53,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,33}}</string>
                <key>sourceSize</key>
                <string>{53,33}</string>
            </dict>
            <key>book.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,44},{45,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,70}}</string>
                <key>sourceSize</key>
                <string>{45,70}</string>
            </dict>
            <key>chair.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,193}}</string>
                <key>sourceSize</key>
                <string>{103,193}</string>
            </dict>
            <key>colored-pencils.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{141,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,40}}</string>
                <key>sourceSize</key>
                <string>{141,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>things.png</string>
            <key>size</key>
            <string>{340,107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07e448c40d4c06683aab1d6aa27d62d3:5981dc2094c2145d8cec6b5d02a9be5c:e80ac72a09d45da118a5b948418171f5$</string>
            <key>textureFileName</key>
            <string>things.png</string>
        </dict>
    </dict>
</plist>
