<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banana.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,486},{403,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,249}}</string>
                <key>sourceSize</key>
                <string>{403,249}</string>
            </dict>
            <key>book.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{567,876}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,876}}</string>
                <key>sourceSize</key>
                <string>{567,876}</string>
            </dict>
            <key>chair.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,2},{255,482}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,482}}</string>
                <key>sourceSize</key>
                <string>{257,482}</string>
            </dict>
            <key>colored-pencils.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{141,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,40}}</string>
                <key>sourceSize</key>
                <string>{141,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>things.png</string>
            <key>size</key>
            <string>{828,922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df99102251158c5521b6f12ec01f123d:415b598f3e2d74a5e908b844c54c1772:e80ac72a09d45da118a5b948418171f5$</string>
            <key>textureFileName</key>
            <string>things.png</string>
        </dict>
    </dict>
</plist>
